body {
  font-family: sans-serif;
}
canvas {
  width: 900px;
  height: 750px;
  image-rendering: pixelated;
  margin-top: 10px;
}
a {
  color: inherit;
  text-decoration: inherit;
  margin-left: 10px;
  padding: 2px;
  outline: 1px solid black;
}

*:target {
  outline: 2px solid black;
}